{% extends "@Todo/Todo/baseTodo.html.twig" %}

{% block title %}TodoBundle:Todo:listAll{% endblock %}

{% block body %}
    <h1>Welcome to the Todo:listAll page</h1>
    {% if todos %}
        {% for todo in todos %}
            {{ todo.title }}<br>
        {% endfor %}
    {% else %}
        <p>Todos not found!</p>
    {% endif %}
{% endblock %}
